.button { 
    padding:20px;
}

.button-default { 
    background-color: darkblue;
    color: white;
}

.button-success { 
    background-color: green;
    color: white;
}

.button-danger { 
    background-color: firebrick;
    color: white;
}